:root {
    --primary: #6C63FF;
    --secondary: #F3F3F4;
    --text-dark: #1E1E1E;
    --text-light: #7A7A7A;
    --background: #FFFFFF;
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: 0;
    border: 0;
    text-decoration: 0;
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: var(--background);
    height: 6000px;
}

.nav-list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 5%;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 9999;
    
}

.nav-logo {
    width: 130px;
    height: auto;
}

.nav-link a {
    color: var(--text-dark);
    display: inline-block;
    font-size: 1.1rem;
    margin: 0 2rem;
}

.nav-link a:hover {
    color: var(--primary);
}

.nav-link a::after {
    content: '';
    display: block;
    padding-bottom: 0.5rem;
    border-bottom: 0.1rem solid var(--primary);
    transform: scaleX(0);
    transition: 0.2s linear;
}

.nav-link a:hover::after {
    transform: scaleX(1);
}

.nav-extra-links a {
    color: var(--primary);
    margin: 0 1rem;
}

.nav-extra-links a:hover {
    color: var(--text-dark);
}

#menu {
    display: none;
    cursor: pointer;
}



.hero {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5rem 10%;
    min-height: 100vh;
    background-image: url('../img/hero.png') ;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
}
.hero::after {
    content: '';
    display: block;
    position: absolute;
    width: 100%;
    height: 30%;
    bottom: 0;
    left: 0;
    background: linear-gradient(0deg, rgba(255,255,255,0.8) 5%, rgba(255,255,255,0) 25%);
}
.hero-content {
    flex: 1;
    max-width: 600px;
}

.hero-content h1 {
    font-size: 3rem;
    color: var(--text-dark);
    margin-bottom: 0.1rem;
}

.hero-content h4 {
    font-size: 1.4rem;
}

.hero-content span {
    color: var(--primary);
}

.hero-content p {
    color: var(--text-light);
    margin-bottom: 2rem;
    font-size: 1.2rem;
    font-weight: 100;
    max-width: 500px;
    mix-blend-mode: difference;
}

.btn {
    background-color: var(--primary);
    border-radius: 10px;
    color: var(--secondary);
    padding: 0.8rem 1.5rem;
    transition: 0.3s;
    
}

.btn:hover {
    background-color: #5848f6;
}

.about .dream {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--background);
    padding: 4rem 2rem;
    width: 100%;
}

.row {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4rem;
    background: var(--background);
    border-radius: 24px;
    padding: 3rem 4rem;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
    max-width: 1000px;
    width: 100%;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}
.row:hover {
    transform: translateY(-8px);
    box-shadow: 0 15px 40px rgba(0, 0, 0, 0.12);
}
.about-img, .dream-img {
    flex: 0 0 20rem;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
.about-img img, .dream-img img {
    padding: 1.5rem;
    background: rgba(255, 255, 255, 0.5);
    width: 100%;
    max-width: 400px;
    border-radius: 20px;
    border: 2px solid rgba(100, 108, 255, 0.2);
    box-shadow: 0 8 20px rgba(100, 108, 255, 0.3);
    backdrop-filter: blur(8px);
    transition: all 0.3 ease;
}

.about-img img:hover {
    transform: translateY(-10px) scale(1.02);
    box-shadow: 0 12px 35px rgba(108, 99, 255, 0.4);
    border-color: var(--primary);
}

.about-content {
    flex: 1 1 25rem;
}

.about-content h2 {
    font-size: 2.2rem;
    color: var(--text-dark);
    margin-bottom: 1rem;
}

.about-content p {
    font-size: 1.2rem;
    line-height: 1.8rem;
    max-width: 500px;
    text-align: justify;
    color: var(--text-light);
}

.learn {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: var(--secondary);
    padding: 3rem 10%;
    text-align: center;
}

.learn h2 {
    font-size: 2.4rem;
    margin-bottom: 2rem;
}
.learn-layout {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 4rem;
    width: 100%;
    align-items: center;
}

.learn-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
    width: 100%;
}

.learn-card {
    background: var(--background);
    border-radius: 15px;
    box-shadow: 0 6px 20px rgba(0, 0, 0, 0.1);
    padding: 2rem;
    transition: all 0.1s ease;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    height: 260px;
    min-width: 220px;
}

.learn-card img {
    width: 80px;
    height: 80px;
    object-fit: contain;
    margin-bottom: 1rem;
}

.learn-card h3 {
    font-size: 1.4rem;
    color: var(--text-dark);
    margin-bottom: 0.4rem;
}

.learn-grid p {
    font-size: 1rem;
    color: var(--text-light);
    line-height: 1.5rem;
}

.learn-card:hover {
    transform: translateY(-8px);
    box-shadow: 0px 20px 24px rgba(108, 99, 255, 0.3);
    border: 2px solid var(--primary);
}
.html:hover {
    border-color: #E34C26;
}
.css:hover {
    border-color: #264de4;
}
.tailwind:hover {
    border-color: #38bdf8;
}
.javascript:hover {
    border-color: #f7df1e;
}

.sources {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 15px;
    padding: 0;
}

.sources-grid {
    display: grid;
    grid-template-columns: repeat(3, auto);
    gap: 2rem;
    width: 100%;
    justify-content: center;
}

.sources-grid, .learn-card {
    min-height: 100px;
    padding: 1.5rem;
}

.sources p {
    font-size: 1.5rem;
    padding-top: 1.4rem;
    font-weight: bold;
    color: #6C63FF;
}


/* responsive design */
/* Laptop */
@media (max-width: 1366px) {
    html {
        font-size: 85%;
    }
    .about .row {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left: 10rem;
    }
}


/* tablet */
@media (max-width: 806px) {
    html {
        font-size: 75%;
    }
    #menu {
        display: inline-block;
        color: var(--primary);
    }
    .nav-link {
        position: absolute;
        top: 100%;
        right: -100%;
        background-color: rgb(194, 186, 186);
        width: 25rem;
        height: 100vh;
        transition: 0.3s;
    }
    .nav-link.active {
        right: 0;
    }
    .nav-link a {
        color: var(--secondary);
        display: block;
        margin: 1.5rem;
        padding: 0.5rem;
        font-size: 2rem;
        transition: color 0.2s ease;
    }
    .nav-link a:hover {
        color: var(--primary);
    }
    .nav-link a::after {
        transform-origin: 0 0;
        border-bottom: 1px solid var(--secondary);
    }
    .nav-link a:hover::after {
        transform: scaleX(0.3);
    }
    .about .row {
        flex-direction: column;
        text-align: center;
        padding: 2rem;
    }
    .about-content {
        text-align: center;
        margin: 0 1rem;
    }
    .learn {
        padding: 2rem 6%;
    }
    .learn-layout {
        grid-template-columns: 1fr;
        gap: 2.5rem;
    }
    .learn-card {
        height: auto;
        width: unset;
        padding: 1.5rem;
    }
    .sources-grid {
        grid-template-columns: repeat(2, 1fr);
    }
}


/* mobile */
@media (max-width: 450px) {
    html {
        font-size: 60%; 
    }
    .hero-content p {
        color: var(--secondary);
    }
    .learn-grid {
        grid-template-columns: repeat(1, 1fr);
    }
    .learn {
        margin-right: 10rem;
    }
}